# Fichiers Gradle
.gradle/
build/
app/build/

# Paramètres IDE
.idea/
*.iml
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
*.iws

# Fichiers locaux et secrets
local.properties
.DS_Store

# Fichiers système
/captures/
.externalNativeBuild
.cxx/

# Fichiers Kotlin / Java
*.class
*.pyc

# Backup et logs
*.bak
*.log
